# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Build artifacts
build/
dist/
*.egg-info/

# Environment
.env
*.env
.venv/
venv/
pip-wheel-metadata/

# IDE/editor stuff
*.log
*.swp
.DS_Store
.vscode/
.idea/